<!-- partials/footer.ejs -->

<footer class="text-xl w-full h-20 py-5 bg-slate-500  border-t-2 border-slate-100 ">
    <div class="text-white flex items-center justify-around">
        <h2>copyright &copy; nikhil wankhade</h2>

        <div class="flex gap-4">
            <a href="<%= github_profile_url %>" target="_blank" rel="noopener noreferrer">
                <img src="/icons/github.svg" class="w-9 bg-white rounded" alt="GitHub icon">
            </a>
            <a href="<%= linkedIn_profile_url %>" target="_blank" rel="noopener noreferrer">
                <img src="/icons/linkedin.svg" class="w-9 bg-white rounded" alt="LinkedIn icon">
            </a>

        </div>
    </div>
</footer>
<script src="/scripts/main.js"></script>
<script src="/scripts/navigation.js"></script>
</body>

</html>
