<!-- partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wolf share</title>
    <link rel="shortcut icon" href="/icons/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheet/tailwind.css" />
  </head>

  <body class="w-full min-h-screen bg-slate-900 text-white scroll-smooth">
    <nav
      class="mx-auto flex w-[40%] px-20 justify-between bg-slate-50 rounded-2xl py-3 my-6 text-black"
    >
      <img src="/icons/logo.svg" class="w-9" alt="wolf share" />

      <ul class="flex gap-8 items-center">
        <li>
          <a href=""><img src="/icons/user.svg" class="w-5" alt="" /></a>
        </li>
        <a href=""><img src="/icons/home.svg" class="w-5" alt="" /></a>
        <li><a href="#"></a></li>
      </ul>
    </nav>
