<!-- partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="/icons/logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheet/tailwind.css" />
  </head>

  <body class="w-full min-h-screen bg-slate-900 text-white !scroll-smooth">
    <header class="w-full flex items-center">
      <nav
        class="mx-auto ml-72 flex w-[40%] px-20 justify-between bg-slate-50 rounded-2xl py-3 my-6 text-black"
        style="margin-left: 373px"
      >
        <!-- logo of wolf share -->
        <img
          src="/icons/logo.svg"
          class="w-9 hover:cursor-pointer"
          alt="wolf share"
          id="logo"
          title="home"
        />

        <ul class="flex gap-8 items-center">
          <!-- home -->
          <li>
            <a href="/">
              <img
                src="/icons/home.svg"
                class="w-5 hover:bg-yellow-500 rounded-xl"
                alt="home"
                id="home"
                title="home"
              />
            </a>
          </li>
          <!-- account -->
          <li>
            <a href="/account">
              <img
                src="/icons/user.svg"
                class="w-5 hover:bg-yellow-500 rounded-xl"
                alt="account"
                id="account"
                title="account"
              />
            </a>
          </li>

          <!-- <li><a href="#"></a></li> -->
        </ul>
      </nav>
      <button
        class="text-red-800 mr-12 border border-green-300 flex items-center py-3 px-2 bg-yellow-500 rounded-xl hover:text-slate-100 hover:bg-orange-800 duration-200 ease-in-out"
        onclick="logout()"
      >
        <span class="mr-2">Logout</span>
        <img src="/icons/logout.svg" class="w-4" alt="home" />
      </button>
    </header>
  </body>
</html>
