<%- include("partials/header.ejs") %>

    <section class="flex  w-full h-screen mx-auto bg-gray-100">
        <div class="w-3/4 bg-red-400 py-16 mx-auto rounded-md shadow-lg">
            <div id="user" class="flex flex-row gap-4 p-4 border-b-2 border-yellow-300">
                <h2 class="text-yellow-300 text-lg font-bold">Your Name</h2>
                <h2 class="text-green-300 text-lg font-bold">Your Email</h2>
            </div>

            <!-- Your links -->
            <h3>links</h3>
            <ul class="mt-6">
                <li class="text-blue-500 underline hover:text-blue-700">
                    <a href="#" target="_blank" rel="noopener noreferrer">Watch Heropanti</a>
                </li>
            </ul>
        </div>
    </section>

    <%- include("partials/footer.ejs") %>
