<%- include("partials/header.ejs") %>

<section class="w-full h-auto flex justify-center py-16">
  <div class="rounded-3xl max-w-lg w-full h-auto p-8">
    <div
      class="border-4 border-dashed border-blue-500 rounded-3xl p-8 relative text-center"
    >
      <!-- File selection -->
      <input
        type="file"
        name="file"
        id="file-sharing"
        class="opacity-0 absolute inset-0 cursor-pointer z-50"
        accept=".jpg , .png , .pdf , .ppt , .docx , .svg"
      />

      <!-- Drop Image or File Selection UI -->
      <img
        src="/icons/drop.svg"
        class="w-36 mx-auto mb-6 opacity-70"
        alt="drop image"
        id="dropImg"
      />

      <!-- Pre-upload instructions -->
      <div id="displayPreInfo">
        <p class="text-lg font-semibold text-gray-600 mb-2">
          Drag & drop an image or
        </p>
        <p
          class="text-blue-600 font-bold text-xl cursor-pointer hover:text-blue-800 transition-all"
        >
          Browse Files
        </p>
        <p class="text-xs text-gray-500 mt-3">
          Supported formats: .jpg, .png, .svg, .pdf, .docx (up to 100MB)
        </p>
      </div>

      <!-- Progress bar -->
      <div
        id="myProgressBar"
        class="hidden mt-8 w-full bg-gray-300 rounded-full h-8"
      >
        <div
          id="myBar"
          class="bg-gradient-to-r from-green-400 to-purple-600 h-full rounded-full flex items-center justify-center transition-all duration-300 ease-in-out"
          style="width: 10%"
        >
          <span id="value" class="text-xs text-white font-semibold">10%</span>
        </div>
      </div>

      <!-- Display selected file content -->
      <div
        id="show"
        class="mt-6 w-full max-w-sm h-52 max-h-52 border border-gray-200 rounded-lg overflow-hidden bg-gray-100 shadow-md hidden"
      ></div>

      <!-- File info section -->
      <ul
        id="fileInfo"
        class="mt-6 flex flex-col items-start gap-2 text-gray-700 text-sm"
      ></ul>

      <div class="flex justify-between" id="btn">
        <!-- cancel button -->
        <button
          id="cancelBtn"
          class="bg-gray-400 text-white py-2 px-4 mt-6 rounded-md shadow-md hidden hover:bg-blue-800 transition-all"
        >
          <div class="flex gap-2">
            <span>cancel</span>
            <img
              src="/icons/cancel.svg"
              alt="next"
              class="w-6 h-6 bg-slate-50 rounded-3xl"
            />
          </div>
        </button>

        <!-- Next button -->
        <button
          id="nextBtn"
          class="bg-blue-700 text-white py-2 px-4 mt-6 rounded-md shadow-md hidden hover:bg-blue-800 transition-all"
        >
          <div class="flex gap-2">
            <span>next</span>
            <img
              src="/icons/next.svg"
              alt="next"
              class="w-6 h-6 bg-slate-50 rounded-3xl"
            />
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
