<!-- views/index.ejs -->

<%- include("partials/header.ejs") %>

<section class="w-full h-screen">
  <div
    class="text-slate-50 px-10 py-10 w-1/2 mx-auto rounded-2xl"
    id="select-file"
  >
    <div
      class="rounded-3xl border-4 border-dashed border-blue-500 px-10 py-10 text-black"
    >
      <input
        type="file"
        name="file"
        id="file-sharing"
        class=""
        accept=".jpg , .png , .pdf , .ppt , .docx , .svg "
      />

      <img
        src="/icons/drop.svg "
        class="w-60 rounded-xl mx-auto"
        alt="drop image"
        id="dropImg"
      />

      <!-- here our file will be displayed -->
      <div
        id="show"
        class="w-full mx-auto h-52 max-h-72 max-w-52 bg-cover hidden"
      >
        <!-- here our file info will be displayed -->
        <ul id="fileInfo" class="flex gap-4 text-white"></ul>

        <!-- here our .docx will be displayed -->
        <div
          id="preview-container"
          class="w-[300px] max-h-[300px] border border-gray-300 p-2 mx-auto overflow-auto break-words mt-2 hidden"
        ></div>
      </div>
      <!-- hide this pre info after selecting file and show the progress bar ...  -->
      <div id="displayPreInfo">
        <p class="text-xl text-center pt-10 text-slate-50">
          drag and drop an image or
          <span class="text-blue-500 font-bold">browse</span>
        </p>
        <p class="text-sm text-center text-slate-50">
          file must jpg, png, svg, pdf upto 100mb
        </p>
      </div>

  <div id="myProgressBar" class="bg-gray-600 w-[80%] mx-auto h-8 rounded-lg">
    <div id="myBar" class="bg-green-400 h-full w-1 flex items-center justify-center rounded-lg">
        <span id="value" class="text-white">10%</span>
    </div>
</div>

    </div>
  </div>
</section>
<%- include("partials/footer.ejs")%>
